asset/example_results
asset/.DS_Store
asset/examples/.DS_Store
asset/examples/hdri_examples/.DS_Store
asset/examples/image_examples/.DS_Store
samples

__pycache__
.cache

ENV_*

*.tar
*.zip
core.*
*.pem
*.out
*.html